  <h2 id="title">Goal-Zone</h2>
    <nav class="navbar">
      <button>
        {{#link-to 'index'}}
          <span class="glyphicon glyphicon-home"></span>
        {{/link-to}}
      </button>
      <button>
        {{#link-to 'store'}}Store{{/link-to}}
      </button>
      <button>
        {{#link-to 'shopping-cart'}}
          <span class="glyphicon glyphicon-shopping-cart"></span>
        {{/link-to}}
      </button>
      <button>
        {{#link-to 'signin'}}Sign-In{{/link-to}}
      </button>
      <button>
        {{#link-to 'sign-up'}}Sign-Up{{/link-to}}
      </button>
      {{#if session.isAuthenticated}}
        <button class='btn btn-default navbar-btn signOut' {{action 'signOut'}}>{{fa-icon 'sign-out'}} Sign Out
        </button>
      {{/if}}
    </nav>
    <div class="container">

    {{#if session.isAuthenticated}}
    <div class='panel panel-default'>
      <h3>Welcome, you are signed in!</h3>
          <div class='panel-heading'>{{session.currentUser.email}}</div>
            <div class='panel-body'>
                <img src='{{session.currentUser.profileImageURL}}' />
            </div>
        </div>
      {{/if}}

  {{outlet}}

</div>
